html body{
    background-color: palevioletred;
    margin: 4%;
}

aside {
    width: 60%;
    padding-left: 1%;
    margin-left: 1%;
    float: right;
  }

p {
    font-size:xx-large;
    font-family: cursive;
}
div {
    flex-grow: 2;
    float: left;
    margin-top: 2%;
    margin-left: 1%;
    height: 100;
    width: 100;
}